Makefile
rimp2
rimp2-cpu
rimp2-ser
rimp2-nvblas
rimp2-cublas
rimp2-cublasxt
rimp2-mkl-cpu
rimp2_essl
rimp2_nvblas
my_rimp2*
*.o
*.mod
fort.500
nvblas.log
*.swp
core.*
benz.kern
cor.kern
c60.kern
w30.kern
w60.kern
nvblas.conf
nvprof_timeline_*
rimp2-w30_w60-*

