Makefile
rimp2
rimp2-essl
rimp2-serial
rimp2-nvblas
rimp2-cublas
rimp2-cublasxt
rimp2-mkl*
*.o
*.mod
fort.500
nvblas.log
*.swp
core.*
cor.kern
c60.kern
w30.kern
w60.kern
nvprof_timeline_*
rimp2-w30_w60-*
run_cpu.sh
run_gpu.sh
nvblas.conf
GAMESS-RIMP2-*
.DS_Store
rimp2-CPP-V*
iris*
arcticus*

